<div class="about-container">
    <h2>My History</h2>
    <img class="photo" src="images/photoMorgane.jpeg" alt="Photo Morgane S." align="middle">
    <p>I started in 2016 to learn by myself how to code.</p>
    <p> Then, I created Visit&Enjoy website for my first client.</p>
    <p>At the same time, I enrolled on the Coursera course entitled "Full Stack Web Development" with the Hong Kong University of Science and Technology.</p>
    <p>After, in 2017, I became Front-End Web Developer and I started to work<br>for La Provence, a french media.</p>
</div>